APT::FTPArchive::Release::Origin "LUWRAIN";
APT::FTPArchive::Release::Label "LUWRAIN";
APT::FTPArchive::Release::Description "LUWRAIN and other helpful packages for the blind and partially-sighted";
APT::FTPArchive::Release::Suite "luwrain";
APT::FTPArchive::Release::Codename "SUBST_CODENAME";
APT::FTPArchive::Release::Architectures "amd64";
APT::FTPArchive::Release::Components "luwrain";
