#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ 

build:
	make -C lib
	make -C src

override_dh_auto_install:
	cp src/freephone  debian/freespeech/usr/bin/
	cp lib/lexicon* debian/freespeech/usr/share/freespeech
